#!/usr/bin/bash
cd {{ build_dir }}/tools


start_server(){
  screen -S server -d -m ./eis-demo-server
}

start_client(){
  screen -S client -d -m ./ei-demo-client
}

list(){
  screen -l
}

connect(){
  screen -r server
}

start_server
start_client
list